Repository rodrigokimura/project_mono, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, templates, tests, forms, urls, views, settings, fixtures, migrations, sqlite

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
templates: mono/_templates/**/*
tests: mono/*/tests.py
forms: mono/*/forms.py
urls: mono/*/urls.py
views: mono/*/views.py
settings: mono/__mono/settings.py
fixtures: mono/*/fixtures/*
migrations: mono/*/migrations/*
sqlite: mono/db.sqlite3

Add global notifications module
  mono/_templates/_auth_menu.html
  mono/_templates/accounts/_notification.html
  mono/_templates/accounts/config.html
  mono/accounts/admin.py
  mono/accounts/migrations/0006_notification.py
  mono/accounts/models.py
  mono/accounts/views.py
  mono/db.sqlite3
Labels: templates, views, migrations, sqlite

Add global notifications module
  mono/_templates/_auth_menu.html
  mono/_templates/accounts/_notification.html
  mono/_templates/accounts/config.html
  mono/accounts/admin.py
  mono/accounts/migrations/0006_notification.py
  mono/accounts/models.py
  mono/accounts/views.py
  mono/db.sqlite3
Labels: templates, views, migrations, sqlite

Improve global notification system
  mono/__mono/settings.py
  mono/_static/image/avatar.svg
  mono/_templates/_auth_menu.html
  mono/_templates/accounts/_notification.html
  mono/_templates/accounts/config.html
  mono/_templates/project_manager/project_detail.html
  mono/_templates/project_manager/project_list.html
  mono/accounts/context_processors.py
  mono/accounts/models.py
  mono/db.sqlite3
  mono/shared/static/image/avatar.svg
  mono/shared/templatetags/custom_tags.py
Labels: templates, settings, sqlite

Improve global notification system
  mono/__mono/settings.py
  mono/_static/image/avatar.svg
  mono/_templates/_auth_menu.html
  mono/_templates/accounts/_notification.html
  mono/_templates/accounts/config.html
  mono/_templates/project_manager/project_detail.html
  mono/_templates/project_manager/project_list.html
  mono/accounts/context_processors.py
  mono/accounts/models.py
  mono/db.sqlite3
  mono/shared/static/image/avatar.svg
  mono/shared/templatetags/custom_tags.py
Labels: templates, settings, sqlite

Add new notifications message on login
  mono/_templates/base.html
  mono/_templates/homepage/home.html
  mono/accounts/views.py
  mono/db.sqlite3
Labels: templates, views, sqlite

Add new notifications message on login
  mono/_templates/base.html
  mono/_templates/homepage/home.html
  mono/accounts/views.py
  mono/db.sqlite3
Labels: templates, views, sqlite

Add notification checker
  mono/_templates/_auth_menu.html
  mono/_templates/accounts/_notification.html
  mono/_templates/accounts/config.html
  mono/accounts/context_processors.py
  mono/accounts/models.py
  mono/accounts/urls.py
  mono/accounts/views.py
Labels: templates, urls, views

Add notification checker
  mono/_templates/_auth_menu.html
  mono/_templates/accounts/_notification.html
  mono/_templates/accounts/config.html
  mono/accounts/context_processors.py
  mono/accounts/models.py
  mono/accounts/urls.py
  mono/accounts/views.py
Labels: templates, urls, views

Improve messages
  mono/_static/board.css
  mono/_templates/_auth_menu.html
  mono/accounts/context_processors.py
  mono/accounts/migrations/0007_alter_notification_options.py
  mono/accounts/views.py
  mono/project_manager/static/board.css
Labels: templates, views, migrations

Improve messages
  mono/_static/board.css
  mono/_templates/_auth_menu.html
  mono/accounts/context_processors.py
  mono/accounts/migrations/0007_alter_notification_options.py
  mono/accounts/views.py
  mono/project_manager/static/board.css
Labels: templates, views, migrations

Fix bug on board update
  mono/__mono/settings.py
  mono/project_manager/views.py
  mono/watcher/models.py
Labels: views, settings

Fix bug on board update
  mono/__mono/settings.py
  mono/project_manager/views.py
  mono/watcher/models.py
Labels: views, settings

Adjust tests
  mono/accounts/tests.py
  mono/healthcheck/tests.py
Labels: tests

Adjust tests
  mono/accounts/tests.py
  mono/healthcheck/tests.py
Labels: tests

Make migrations
  mono/watcher/migrations/0007_alter_issue_options.py
Labels: migrations

Make migrations
  mono/watcher/migrations/0007_alter_issue_options.py
Labels: migrations
